/* add custom styles */
.movie-render{
  border: solid thin gray;
  border-radius: 10px;
  padding: 15px;
  width:300px;
  margin-bottom: 15px;
}

.navbar {
  background-color: #FFFFFF
}

.sort{
  max-width: 1140px;
  padding: 15px;
}

a {
  color: black;
}

.nav-tabs {
  border: none;
}

.tea-title {
  color: #FF0000;
  font-style: italic;
}

#sort-by-price {
  float: right;
}

#checkout {
  float: right;
  color: white;
}
/*.border {
  border: solid thin gray;
}*/
.main-container {
  border: solid thin gray;
  padding: 15px;
}

#quantity {
  float:right;

}

#order-total {
  float:right;
}

.header {
  border-bottom: solid thin gray;
  height: 50px;
  max-width: 1140px;
}

.header1 {
    border-right: solid thin gray;
    height: 65px;
    margin-top: -15px;
    margin-left: -5px;
}

.header2 {
  border-bottom: solid thin gray;
  max-width: 950px;
}

#tea-render {
  border-bottom: solid thin gray;
  height: 310px;
  margin-right: -15px;
  margin-left: -15px
}

.column1 {
  border-right: solid thin gray;
  height: 310px
}

.column2 {
  height: 310px
}

.column3 {
    border-right: solid thin gray;
    border-bottom: solid thin gray;
    border-top: solid thin gray;
    height: 30px;
}

.column4 {
    border: solid thin gray;
    height: 30px;
}

.cart-render  {
    border-right: solid thin gray;
    border-bottom: solid thin gray;
    border-left: solid thin gray;
}

.tea-info {
    border-right: solid thin gray;
    height: 375px;
}

.edit-info {
    border-top: solid thin gray;
}

#add-to-bag {
  color: white;
  font-size: 12px;
}

/*
.tea-image {
  border: solid thin gray;
}*/
