/* add custom styles */
.movie-render{
  border: solid thin gray;
  border-radius: 10px;
  padding: 15px;
  width:300px;
  margin-bottom: 15px;
}

.navbar {
  background-color: #FFFFFF
}

.sort{
  max-width: 1140px;
  padding: 15px;
}

a {
  color: black;
}

.nav-tabs {
  border: none;
}

.tea-title {
  color: #FF0000;
  font-style: italic;
}

#sort-by-price {
  float: right;
}

#checkout {
  float: right;
  color: white;
}
/*.border {
  border: solid thin gray;
}*/
.main-container {
  border: solid thin gray;
  padding: 15px;
}

#quantity {
  float:right;

}

#order-total {
  float:right;
}

.header {
  border-bottom: solid thin gray;
  height: 50px;
  max-width: 1140px;
}

.header1 {
    border-right: solid thin gray;
    height: 65px;
    margin-top: -15px;
    margin-left: -5px;
}

.header2 {
  border-bottom: solid thin gray;
  max-width: 950px;
}

#tea-render {
  border-bottom: solid thin gray;
  height: 310px;
  margin-right: -15px;
  margin-left: -15px
}

.column1 {
  border-right: solid thin gray;
  height: 310px
}

.column2 {
  height: 310px
}

.column3 {
    border-right: solid thin gray;
    border-bottom: solid thin gray;
    border-top: solid thin gray;
    height: 30px;
}

.column4 {
    border: solid thin gray;
    height: 30px;
}

.cart-render  {
    border-right: solid thin gray;
    border-bottom: solid thin gray;
    border-left: solid thin gray;
}

.tea-info {
    border-right: solid thin gray;
    height: 375px;
}

.edit-info {
    border-top: solid thin gray;
}

#add-to-bag {
  color: white;
  font-size: 12px;
}

/*
.tea-image {
  border: solid thin gray;
}*/
/*
caffeine meter*/
$baseFontSize: 16;
$green: #1abc9c;
$yellow: #f1c40f;
$red: #c0392b;
$blue: #3498db;
$grey: #f2f2f2;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.body {
  font-size: #{$baseFontSize};
}

.header {
  padding: 1rem;
  margin: 0 0 2rem 0;

  background: $grey;
}

h1 {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
}

// Gauge
.mask {
  position: relative;
  overflow: hidden;

  display: block;
  width: rem(200);
  height: rem(100);
  margin: rem(20);
}
.semi-circle {
  position: relative;

  display: block;
  width: rem(200);
  height: rem(100);

  background: linear-gradient(to right, $red 0%, $yellow 50%, $green 100%);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    display: block;
    width: rem(140);
    height: rem(70);
    margin-left: rem(-70);

    background: #fff;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;

  width: rem(200);
  height: rem(200);

  background: transparent;

  transform: rotate(120deg) translate3d(0,0,0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;

    display: block;
    width: rem(202);
    height: rem(102);
    margin: -1px 0 0 -1px;

    background: #f2f2f2;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.gauge--1 {
  .semi-circle {
    background: $green;
  }
}

.gauge--2 {
  .semi-circle {
    background: $red;
  }

  .semi-circle--mask {
    transform: rotate(20deg) translate3d(0,0,0);
  }
}

.btn--twitter {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  padding: .5rem;

  background: $blue;

  color: #fff;
}
