<!-- main shopping page -->



<h1 class="tea-title">Welcome to MEAN Tea!</h1>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-tabs">
          <li ><a href="/#/shop">Home</a></li>
          <li ><a href="/#/about">About</a></li>
          <li ><a href="/#/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div ng-hide="mainShoppingPage" class="main-page-container">
<div class="row sort">

   <p><span id="sort-by-category">Sort By Category:
        <select ng-model="category" class="form-inline">
          <option></option>
          <option value='name'>Name</option>
          <option value='ingredients'>Ingredients</option>
          <option value='caffeineScale'>Caffeine Scale</option>
          <option value='price'>Price</option>
          <option value='inStock'>In Stock</option>
          <option value='rating'>Rating</option>
          <option value='categories'>Categories</option>
        </select></span>
        <label for="search">Search by name:</label>
        <input type="text" class="form-inline" ng-model="searchText">
        <button id="checkout" class="btn btn-danger" id="checkout" ng-click="cartTotal()"><strong>Checkout</strong> | Bag: {{ bag }}</button>
      <!--   <button id="checkout" class="btn btn-danger"><a id="checkout" ng-click="cartTotal(); shopping-cart = !shopping-cart" href="/#/shoppingCart"><strong>Checkout</strong> | Bag: {{ bag }}</a></button> -->

    </p>

</div>

<div class="main-container">

<!-- top row for rendering each tea -->
  <div class="row header">

    <div class="col-xs-4 header1">
      <h4>Tea</h4>
    </div>

    <div class="col-xs-8">
      <h4>Information<span class="border" id="sort-by-price">Sort By Price: <select ng-model="category" class="form-inline">
          <option></option>
          <option value='-price'>High</option>
          <option value='price'>Low</option>
        </select></span>
      </h4>
    </div>

  </div>

<!-- render each tea, ng-repeat -->
  <div id="tea-render" ng-repeat="tea in teas | filter: searchText | orderBy: category">

  <div class="row">



    <div class="col-xs-4 column1">
      <div class="tea-image"><img src="{{ tea.imageUrl}}"></div>
    </div>

    <div class="col-xs-8 column2">
    <div class="tea-characteristics">

      <h3>{{ tea.name }}<span id="quantity">Quantity: <select class="form-inline" ng-model="quantity">
          <option></option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
        </select> <button class="btn btn-warning" id="add-to-bag" ng-click="addToCart()">Add to Bag</button></span></h3>

      <p><strong>Price: </strong>{{ tea.price | price | currency }}</p>
      <p><strong>Caffeine Scale: </strong>{{ tea.caffeineScale}}</p>
      <p><strong>Ingredients: </strong>{{ tea.ingredients}}</p>
      <p><strong>Rating: </strong>{{ tea.rating}}</p>
      <p><strong>In Stock?: </strong>{{ tea.inStock | inStock }}</p>
      <p><strong>Categories: </strong>
        <ul>
          <li>{{ tea.categories[0]}}</li>
          <li>{{ tea.categories[1]}}</li>
        </ul>
      </p>

    </div>


    </div>

    </div>

    </div>



  </div>

  </div>
<!-- cart section render -->

<div ng-show="shoppingCart" class="shoping-bag-container">




<div class="row header">

  <h3>
    <span id="shopping-bag">My Shopping Bag</span><span id="order-total">Order Total: {{ grandTotal | price | currency}}</span>
  </h3>

</div>

<div class="row">

  <div class="col-xs-6">
    <p>Product</p>
  </div>

  <div class="col-xs-1">
    <p>Quantity</p>
  </div>

  <div class="col-xs-1">
    <p>Sub-total</p>
  </div>

</div>

<!-- render each tea from the cart -->

<div class="row" ng-repeat="tea in cart">

  <div class="col-xs-6">
    <h4>{{tea.tea.name}}</h4>
    <img src="{{ tea.tea.imageUrl}}">
    <p><strong>Caffeine Scale: </strong>{{tea.tea.caffeineScale}}</p>
    <p><strong>Ingredients: </strong>{{tea.tea.ingredients}}</p>
    <p><strong>Rating: </strong>{{tea.tea.rating}}</p>
  </div>

  <div class="col-xs-1">
    <p ng-hide="teaQuantity">{{ tea.quantity }}</p>
    <input size="4" type="text" ng-show="editTea" ng-model="tea.quantity">
  </div>

  <div class="col-xs-1">
    <p>{{ tea.quantity * tea.tea.price | price | currency }}</p>

  </div>

  <div class="col-xs-4">
    <button ng-hide="editQuantity" type="button" ng-click="edit()" class="btn btn-warning"> {{buttonLable}} </button>
    <button ng-show="saveQuantity" type="button" ng-click="cartTotal()" class="btn btn-warning"> {{buttonLable}} </button>
    <button type="button" class="btn btn-danger">Remove</button>
  </div>


</div>



</div>
