<h1 class="tea-title">Welcome to MEAN Tea!</h1>



<div class="main-container">

<!-- top row for rendering each tea -->
  <div class="row header">

    <div class="col-xs-4 header1">
      <h4>Tea</h4>
    </div>

    <div class="col-xs-8">
      <h4>Information<span class="border" id="sort-by-price">Sort By Price:<select class="form-inline">
          <option></option>
          <option value='high'>High</option>
          <option value='low'>Low</option>
        </select></span>
      </h4>
    </div>

  </div>

<!-- render each tea, ng-repeat -->
  <div id="tea-render" ng-repeat="tea in teas">

  <div class="row">


    <div class="col-xs-4 column1">
      <div class="tea-image"><img src="{{ tea.imageUrl}}"></div>
    </div>

    <div class="col-xs-8 column2">
    <div class="tea-characteristics">

      <h3>{{ tea.name }}<span id="quantity">Quantity: <select class="form-inline">
          <option></option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
        </select> <button class="btn btn-warning" id="add-to-bag">Add to Bag</button></span></h3>

      <p><strong>Price: </strong>{{ tea.price | currency}}</p>
      <p><strong>Caffeine Scale: </strong>{{ tea.caffeineScale}}</p>
      <p><strong>Ingredients: </strong>{{ tea.ingredients}}</p>
      <p><strong>Rating: </strong>{{ tea.rating}}</p>
      <p><strong>In Stock?: </strong>{{ tea.inStock}}</p>
      <p><strong>Categories: </strong>
        <ul>
          <li>{{ tea.categories[0]}}</li>
          <li>{{ tea.categories[1]}}</li>
        </ul>
      </p>

    </div>


    </div>

    </div>

    </div>



  </div>
