  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-tabs">
          <li ><a href="/#/shop">Home</a></li>
          <li ><a href="/#/about">About</a></li>
          <li ><a href="/#/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>



<div class="row header">

  <h4>
    <span id="shopping-bag">My Shopping Bag</span><span id="order-total">Order Total: {{ grandTotal }}</span>
  </h4>



    <p>Price {{cart[0].tea.price | price }}</p>
    <p>Quantity{{cart[0].quantity}}</p>
    <p>Total : {{cart[0].tea.price | price }}*{{cart[0].quantity}}</p>


</div>




